* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden !important;
  font-family: var(--font-family);
}
/* errorboundary */
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
  color: var(--Light-Red-error);
  font-weight: bold;
}
/* navbar */
.navBarSection {
  position: fixed;
  bottom: 0px;
  background-color: var(--Dark-bg);
  height: 4rem;
  width: 100%;
  z-index: 1000;
  margin-top: 3rem;
}
.right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}
.navBarSection a.active {
  color: var(--Light-Red-error) !important;
  border-top: 2px solid var(--Light-brown);
  border-style: groove;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 0.9rem 0.5rem;
}
.navBarSection a.active::after {
  border-top: 1px solid #fff;
  margin-top: 1rem;
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--Light-Red-error);
}
.dark-mode {
  background-color: #1a1919;
  color: #999;
  height: 100%;
  transition: background-color 0.25s ease-in-out;
}
.light-mode {
  background-color: var(--White);
  color: #333;
  height: 100%;
  transition: background-color 0.25s ease-in-out;
}

/* home-section */
.home {
  text-decoration: none;
  color: var(--White);
  font-weight: 400;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 2rem 0;
  height: 100vh;
}
.p {
  text-align: center !important;
  background-color: var(--Linear-bg);
}
.aside {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center !important;
  padding: 1rem;
  margin-top: 9rem;
}
.aside h2 {
  margin-top: 3rem;
  line-height: 2rem;
}
.aside span {
  color: var(--Blue);
}
.wel-btn {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
  flex-direction: column;
}
.aside .btn {
  padding: 0.7rem 2rem;
  width: 20rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  background-color: var(--Blue);
  color: var(--White);
}
.aside .btn:hover {
  background-color: var(--btn-hover);
  color: var(--Black);
  font-size: 1.3rem;
  transition: 1s ease all;
  font-weight: 400;
}
.aside .p {
  margin: 1rem 0;
}
.forget-pwd {
  display: flex;
  justify-content: flex-end;
}
.f-pwd {
  text-decoration: none;
  color: var(--btn-color);
  margin-top: 1rem;
  cursor: pointer;
}
.f-pwd:hover {
  color: #999;
  transition: 1s ease all;
}
/* reset-pwd */
.reset-cont{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: #000000ce;
}
.reset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  width: 30rem;
  margin: 12rem auto;
  gap: .1rem;
  background-color: #fff;
  position: relative;
  border-radius: 1rem;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.reset h2 {
  position: absolute;
  top: 1.5rem;
}
.reset input {
  width: 100%;
  padding: 0.9rem 1rem;
  margin: 2rem 0 0.6rem 0 ;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 0.3px solid var(--s-border-color);
}
.reset input:hover {
  transition: 1s ease-in-out all;
  border: 0.3px solid var(--btn-color);
}
.reset-btn {
  border-radius: 0.4rem;
  cursor: pointer;
  padding: 0.7rem 1rem;
  margin-top: 1.5rem;
  color: var(--White);
  background-color: var(--btn-color);
  border: none;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 400;
  transition: 1s ease all;
  font-family: var(--font-family-headings);
}
.reset-btn:hover {
  color: var(--Black);
  background-color: var(--White);
  border: 1px solid var(--btn-color);
}
.close-btn{
  display: flex;
  justify-content: flex-end !important;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
}
.close-btn:hover{
  transition: .2s ease-in-out all;
  transform: scale(1.1) rotate(-90deg);
  color: #999;
  background-color: var(--White);
}
.success-msg{
  margin: .2rem 0;
  padding: .5rem .1rem;
  color: green;
  line-height: 1.5rem;
}
.fail-msg{
  margin: .2rem 0;
  padding: .5rem .1rem;
  margin: 1rem 0;
  color: var(--Light-Red-error);
  line-height: 1.5rem;
}
/* main-sect */
.main-sect {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./Image/unsplash_-4vD8lIhdnw.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  flex-direction: column;
  align-items: left;
  padding: 1rem 2rem;
  position: relative;
  top: 0;
  margin-top: 4rem;
  height: 46rem;
  color: var(--White);
  width: 100%;
  background-color: var(--Light-brown);
}
.main-text {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem !important;
}
.main-sect h1 {
  font-size: 2rem;
  width: 36.5rem;
  font-weight: 700;
  font-family: var(--font-family);
  line-height: 3.5rem;
}
.main-sect p {
  width: 39rem;
  font-size: 1.3rem;
  font-weight: 300;
  font-family: var(--font-family);
  line-height: 2.25rem;
}
.main-btn {
  padding: 1rem 0.6rem;
  cursor: pointer;
  border-radius: 0.4rem;
  background: var(--btn-color);
  border: none;
  color: var(--White);
  width: 10rem;
  line-height: 1.6875rem;
  font-weight: 700;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
}
.main-btn:hover {
  color: var(--Black) !important;
  border: 1px solid var(--btn-color);
  background-color: var(--White);
  transition: 1s ease-in-out all;
}

/* section-1 */
.sect-1 {
  display: flex !important;
  align-items: center;
  padding: 3rem 8rem;
  width: 100%;
  background-color: var(--White);
  position: relative;
  top: 1rem;
  flex-wrap: wrap;
  margin: auto;
}
.sect-1-text p {
  width: 35rem;
}
.sect-1-aside p {
  text-align: left;
  line-height: 1.5rem;
  width: 35rem !important;
}
/* section-3 */
.share {
  padding: 3rem 2rem;
  background-color: var(--White);
}

.share-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.share-text h1 {
  font-size: 1.6rem;
}
.share-text .main-btn {
  padding: 0.6rem !important;
}

/* Contact-sect */
.contact {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-around;
  margin-top: 4rem !important;
  padding: 3rem 2rem;
}
.contact form .inputBox input {
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.1rem;
  color: var(--text-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}
.contact .heading {
  color: var(--btn-color);
  margin: 1rem;
}
#email,
#email-sub {
  margin-left: 1.5rem;
}
.contact form {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border-radius: 0.4rem;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(1, 1fr);
  max-width: 60rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
  padding: 2rem;
  background-color: var(--White);
}
.contact form input {
  border: 2px solid var(--s-border-color);
}
.contact form textarea {
  margin: 0.7rem 0;
  font-size: 1.1rem;
  padding: 1.5rem;
  border-radius: 0.8rem;
  width: 100%;
  border: 2px solid var(--s-border-color);
}
.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 0.4rem;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1rem;
  background-color: var(--btn-color);
  color: var(--White);
  border: none;
}
.contact form .btn:hover {
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 0.8rem;
  padding: 1rem;
  background-color: var(--White);
  color: var(--Black);
  transition: 1s ease-in-out all;
  border: 1px solid var(--btn-color);
}

.err-dis {
  margin: 1rem 0;
  text-align: center;
  color: var(--Light-Red-error);
}
.err-dis p {
  color: var(--Light-Red-error);
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Light-Red-error);
}
.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notFound h1 {
  position: sticky;
  top: 5rem;
  left: 5rem !important;
  margin-right: 15rem;
}
.notFound h4 {
  font-weight: 200;
  margin: 1rem 0 2rem 0;
}
.not-found-btn {
  background-color: var(--White) !important;
  color: var(--Black);
  border: 1px solid var(--btn-color);
  text-decoration: none;
  border-radius: 0.8rem;
  padding: 0.6rem 2.5rem;
}
.not-found-btn:hover {
  transition: 1s ease-in-out all;
  background-color: var(--btn-color) !important;
  color: var(--White);
}
.not-found-img {
  background: url(./Image/funny-404-error-page-design.gif) no-repeat center;
  background-position: cover;
  width: 100% !important;
  height: 27rem;
}
.not-found-text {
  text-align: center;
  position: sticky;
  bottom: 7rem;
}

/* feed-blog */
.feed-cont {
  display: flex;
}

/* blog-sect */
  .blog {
    position: relative;
    top: 0;
    margin-top: 4rem;
  }
  .blog-sect {
    flex: 2;
  }
  .blogs-nav {
    position: sticky;
    top: 2rem;
  }

  /* blog-nav-cont */
  .blog-nav-cont {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 3rem;
    width: 19rem;
    height: calc(100%);
    overflow-y: scroll;
    overflow-x: hidden;
    border-right: 1px solid var(--border-color);
  }
  .blog-nav-cont::-webkit-scrollbar {
    display: none;
  }
  .head{
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  .side-ham{
    cursor: pointer;
    width: 1.8rem;
    height: 1.5rem;
  }
  .blog-nav-cont h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--btn-color);
  }
  .overview-cont {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
  }
  .overview-cont a.active {
    color: var(--btn-color);
  }
  .overview-cont .overview-link {
    font-size: 1rem;
    text-decoration: none;
    color: var(--Black);
  }
  .trending-cont {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.5rem;
  }
  .trending-link{
    font-size: 1rem;
  }
  .trending-links {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
  .trending-links .trending-link {
    font-size: 1rem;
    text-decoration: none;
    color: var(--Black);
  }
  .trending-links .trending-link:hover {
    color: var(--btn-color);
    transition: .5s ease-in-out all;
  }
  .personal-cont {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    line-height: 1.5rem;
  }
  .personal-links {
    margin-left: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    /* margin-bottom: 2rem; */
  }
  .personal-links .personal-link {
    font-size: 1rem;
    text-decoration: none;
    color: var(--Black);
  }
  .personal-links .personal-link {
    font-size: 1rem;
    text-decoration: none;
    color: var(--Black);
  }
  .see-all-link{
    text-decoration: none;
    color: var(--Black);
    font-size: 1rem;
  }
  .see-all-link:hover{
    color: var(--btn-color);
    font-size: 1rem;
  }
  /* icons-sect */
  .feed-cont,
  .bookmark-cont,
  .team-blog-cont,
  .draft-cont,
  .analytics-cont,
  .acc-cont,
  .notify-cont
   {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    cursor: pointer;
    align-items: center;
}
.feed-cont:hover,
.bookmark-cont:hover,
.team-blog-cont:hover,
.draft-cont:hover,
.analytics-cont:hover,
.acc-cont:hover,
.notify-cont:hover {
    cursor: pointer;
    color: var(--btn-color);
}
.trend-tag-cont{
      gap: 0.5rem;
    display: flex;
    align-items: center;
  }
.trend-tag-cont h2{
      white-space: nowrap;
      font-size: 1.125rem;
      font-weight: 700;
  }
  .feed-cont:hover {
    color: var(--btn-color);

  }
  .feed-icon {
    width: 1.3rem;
    height: 1.3rem;
  }
    .bookmark-icon {
      width: 1.3rem;
      height: 1.3rem;
    }
    .team-blogs-icon {
      width: 1.3rem;
      height: 1.3rem;
    }
    .drafts-icon {
      width: 1.3rem;
      height: 1.3rem;
    }
    .analytics-icon {
      width: 1.3rem;
      height: 1.3rem;
    }
    .account-icon {
      width: 1.3rem;
      height: 1.3rem;
    }
    .notifications-icon {
      width: 1.3rem;
      height: 1.3rem;
    }
    .trend-tag-icon {
      background: url(./Image/overview-icons/evaTrendingUpOutline2.png) no-repeat center;
      background-size: contain;
      width: 1.6rem;
      height: 1.2rem;
    }
    
    .search-bar{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      width: 100%;
      height: 2.5rem;
      padding: 1.8rem 3rem;
      border-bottom: 1px solid var(--border-color);
      background-color: var(--White);
      position: relative;
    }
    .search-bd{
      border: 1px solid var(--border-color);
      width: 28.7rem;
      border-radius: .5rem;
      padding: 0.9rem 4rem;
    }
    .search-icon {
      width: 1.2rem;
      height: 1.2rem;
      position: absolute;
      left: 1.5rem;
      cursor: pointer;
    }
    .search-cont{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      gap: 7rem;
    }
    .alarm-cont{
      display: flex;
      justify-content: flex-end !important;
      align-items: center !important;
      place-items: right;
      gap: .9rem;
      position: sticky;
      margin-right: -13rem;
      /* position: absolute;
      right: -13rem; */
    }
    .alarm-cont img{
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      cursor: pointer;
      border: 1px solid var(--btn-color);
    }
    .alarm-cont img:hover{
      transition: .8s ease-in-out all;
      transform: scale(1.1);
    }
    .alarm-icon{
      cursor: pointer;
      width: 1.3rem;
      height: 1.3rem;
    }
    .alarm-icon:hover{
      transition: .8s ease all;
      transform: scale(1.1);
    }
    /* feed-blog */
    .feed-container{
      display: flex;
      flex-direction: column;
    }
    .feed-sect{
      display: flex;
      width: 100%;
    }


@media (max-width: 320px) {
  .notFound h1 {
    position: fixed;
    top: 3rem;
    right: 9rem !important;
    margin-left: -3rem;
    z-index: 300;
  }
  .not-found-img {
    width: 100% !important;
    height: 27rem;
    position: fixed;
    top: 0;
  }
  .notFound {
    height: 51rem;
  }
  .not-found-text {
    text-align: center;
    position: fixed;
    bottom: 0;
    position: none !important;
  }
}
@media (max-width: 586px) {
  .contact form {
    width: 100%;
    box-shadow: none !important;
  }
}
