@media (min-width: 947px) {
    .blog {
      position: relative;
      top: 0;
      margin-top: 4rem;
    }
    .blog-sect {
      display: flex;
      flex: 2;
    }
    .blogs-nav {
      flex: 1;
      position: sticky;
      top: 2rem;
    }
  
    /* blog-nav-cont */
    .blog-nav-cont {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 2rem;
      padding: 2rem 3.5rem;
      width: 18rem;
      height: 100%;
      overflow-y: scroll;
      border-right: 1px solid #667788;
    }
    .blog-nav-cont h1 {
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: var(--btn-color);
    }
    .overview-cont {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 2rem;
      margin-bottom: 2rem;
      line-height: 1.5rem;
    }
    .overview-cont a.active {
      color: var(--btn-color);
    }
    .overview-cont .overview-link {
      font-size: 1rem;
      text-decoration: none;
      color: var(--Black);
    }
    .trending-cont {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      align-items: flex-start;
      line-height: 1.5rem;
    }
    .trending-link{
      font-size: 1rem;
    }
    .trending-links {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 2rem;
      margin-left: 2rem;
    }
    .trending-links .trending-link {
      font-size: 1rem;
      text-decoration: none;
      color: var(--Black);
    }
    .trending-links .trending-link:hover {
      color: var(--btn-color);
      transition: .5s ease-in-out all;
    }
    .personal-cont {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 2rem;
      line-height: 1.5rem;
    }
    .personal-links {
      margin-left: 2rem;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      align-items: flex-start;
      /* margin-bottom: 2rem; */
    }
    .personal-links .personal-link {
      font-size: 1rem;
      text-decoration: none;
      color: var(--Black);
    }
    .personal-links .personal-link {
      font-size: 1rem;
      text-decoration: none;
      color: var(--Black);
    }
    .see-all-link{
      text-decoration: none;
      color: var(--Black);
      font-size: 1rem;
    }
    .see-all-link:hover{
      color: var(--btn-color);
      font-size: 1rem;
    }
    /* icons-sect */
    .feed-cont,
    .bookmark-cont,
    .team-blog-cont,
    .draft-cont,
    .analytics-cont,
    .acc-cont,
    .notify-cont
     {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      cursor: pointer;
      align-items: center;
  }
  .feed-cont:hover,
  .bookmark-cont:hover,
  .team-blog-cont:hover,
  .draft-cont:hover,
  .analytics-cont:hover,
  .acc-cont:hover,
  .notify-cont:hover {
      cursor: pointer;
      color: var(--btn-color);
  }
  .trend-tag-cont{
        gap: 0.5rem;
      display: flex;
      align-items: center;
    }
  .trend-tag-cont h2{
        white-space: nowrap;
        font-size: 1.125rem;
        font-weight: 700;
    }
    .feed-cont:hover {
      color: var(--btn-color);
  
    }
    .feed-icon {
      background: url(./Image/overview-icons/ftxtoken.png) no-repeat center;
      background-size: cover;
      width: 1.3rem;
      height: 1.3rem;
    }
    .feed-icon:hover {
      background: url(./Image/overview-icons/Iconsax/Linear/ftxtoken-1.png) no-repeat center;
      color: var(--btn-color);
      background-size: cover;
      width: 1.3rem;
      height: 1.3rem;
      }
      .bookmark-icon {
        background: url(./Image/overview-icons/material-symbols_bookmarks-outline.png) no-repeat center;
        background-size: cover;
        width: 1.3rem;
        height: 1.3rem;
      }
      .team-blogs-icon {
        background: url(./Image/overview-icons/ant-design_team-outlined.png) no-repeat center;
        background-size: cover;
        width: 1.3rem;
        height: 1.3rem;
      }
      .drafts-icon {
        background: url(./Image/overview-icons/material-symbols_drafts-outline.png) no-repeat center;
        background-size: cover;
        width: 1.3rem;
        height: 1.3rem;
        color: var(--btn-color);
      }
      .analytics-icon {
        background: url(./Image/overview-icons/ic_outline-analytics.png) no-repeat center;
        background-size: cover;
        width: 1.3rem;
        height: 1.3rem;
      }
      .account-icon {
        background: url(./Image/overview-icons/mdi_account-outline.png) no-repeat center;
        background-size: cover;
        width: 1.3rem;
        height: 1.3rem;
      }
      .notifications-icon {
        background: url(./Image/overview-icons/basil_notification-outline.png) no-repeat center;
        background-size: cover;
        width: 1.3rem;
        height: 1.3rem;
      }
      .trend-tag-icon {
        background: url(./Image/overview-icons/evaTrendingUpOutline2.png) no-repeat center;
        background-size: contain;
        width: 1.6rem;
        height: 1.2rem;
      }
      
      .search-bar{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        width: 100%;
        height: 2.5rem;
        padding: 1.8rem 3rem;
        border-bottom: 1px solid #667788;
        background-color: var(--White);
        position: relative;
      }
      .search-bd{
        width: 40%;
        padding: 0.9rem 4rem;
      }
      .search-icon {
        width: 1.3rem;
        height: 1.3rem;
        position: absolute;
        left: 23rem;
      }
      /* feed-blog */
      .feed-container{
        display: flex;
      }
  }
  