@media (max-width: 1130px) {
  .search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    height: 2.5rem;
    padding: 1.8rem 2rem;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--White);
    position: relative;
  }
  .search-bd{
    border: 1px solid var(--border-color);
    width: 25rem;
    border-radius: .5rem;
    padding: 0.9rem 4rem;
    position: sticky;
    margin-left: -4rem;
  }
  .search-cont{
    place-content: center;
    gap: 2rem;
    margin: 0 auto;
  }
  .search-icon {
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    left: -2.5rem;
    cursor: pointer;
  }
  .alarm-cont{
    display: flex;
    justify-content: flex-end !important;
    align-items: center !important;
    place-items: right;
    gap: .9rem;
    position: sticky;
    margin-right: -13rem;
    /* position: absolute;
    right: -13rem; */
  }
}  
@media (max-width: 1150px) {
  .search-cont{
    place-content: center;
    gap: 2rem;
    margin: 0 auto;
  }
}  

@media (min-width: 898px) {
  .navCollapse{
    width: 7rem !important;
  }
  .navCollapse .overview p{
      display: none !important;
  }
}
  