:root{
    --btn-color: #39ad31;
    --Fb-bg: #077ef5;
    /* neutral */
    --White: hsl(0, 0%, 100%);
    --Black: #000;
    --Light-brown: #c5c6c7;
    --one-px: 0.0625rem;
    --font-family: 'DM Sans', sans-serif;
    --cream-bg: rgba(255, 237, 204, 0.5);
    --text-bg: #626262;
    --text-bg-1: #b4b4b43f;
    --border-color: #D0D0D0;
    --join-us-bg: #FCF6F5;
    --foot-links: #111111;
    --s-border-color: #D9D9D9;
    --Light-Red-error: red;
}